<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page projektu JT k TNPW2</title>
</head>
<body>
    {{> header}}
          <form class="d-flex" method="post">
        <input id="email" name="email"class="form-control mr-2" type="email" placeholder="Email" aria-label="Email">
         <input id="password" name="password" class="form-control mr-2" type="password" placeholder="Password" aria-label="Password">
        <button class="btn btn-outline-success" type="submit">Sign in</button>
      </form>
    {{> footer}}
</body>
</html>